#replicationGif{
  text-align: center;
}

#getArticle{
  text-align: center;
}

#readArticle{
  text-align: center;
}

#introMessage{
  text-align: center;
}

body {
  background-color: antiquewhite;
}

#nextArticle {
  text-align: right;
}